/* Basic part */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;padding: 0;
    
}
h1{
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.two_part_div{
    float: left;
    width: 40%;
    margin: 40px;
    padding: 10px;
}
.two_part_div img{
    width: 100%;
    
}
.page_link {
    text-decoration: none;
    background: #f77e63;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    
}
.clearfix {
    overflow: auto;
  }
  
/* End Basic part*/
/*Top Section */

#title_first_part{
    font-size: 42px;
    color: #1b306f;
    margin-top: 30px;
}
#title_secand_part{
    font-size: 42px;
    color: #fb6355;
    padding-top: 10px;
    padding-bottom: 10px;
}
#top_title_description{
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 30px;
}

/*End Top section */
/* About Section */
.about_title{
    font-size: 35px;
    color:#1b306f;
    font-family: 'Montserrat', sans-serif;

}
.about_description{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 25px;
}
/*End about section/*
/*Latest Working section */
.working_section{
    background-color: #f9f9f9;
}
.three_part_div {
    float: left;
    width: 25%;
    border-radius: 15px;
    margin: 40px;
    padding: 10px;
    background: #ffffff;
}
.three_part_div img{
    width:100%;
}
.portfoli_section_title{
    font-size: 30px;
    text-align: center;
    padding: 40px 0px 30px 0px;
    font-family: 'Montserrat';
    color: #1b306f;
}
#lastet{
    color:#f97960;
}
.work_title {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 800;
}
.working_description{
    color: gray;
    font-size: 18px;
    line-height: 25px;
}


/*End Latest working section */

/*testimonial section */

.testimonial{
    background: #ffe2d138;
    height: 420px;
    
}
.testimonial_images{
 border-radius: 40%;
}
.testi_title{
    color:#47216dd9;
}
/* End Testimonal sectin*/



/* work inquary section */
.inquary{
    margin-left: 270px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.work_inquary{
    margin: 0 auto; 
    
}
.work_inquary img{
    width: 80%;
}
.inquary_title{
    margin-top: -128px;
    color: #fff;
    margin-left: 50px;
    font-size: 35px;
    font-family: font-family: 'Montserrat', sans-serif;
}
.span_inquary{
    margin-left: 314px;

}
/* end work inquary section*/
/*Footer*/
.footer{
    margin-top: 50px;
    text-align: center;
}
.footer ul li img{
   width:50px; 
}
.footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.footer_title{
    padding-left: 60px;
    font-size: 22px;
    color: gray;
}
.footer_middle_title{
    font-size: 30px;
    text-align: center;
    padding-left: 60px;
    font-family: 'Montserrat';
    color: #1b306f;
}/*End footer*/